*{
    
    padding: 0;
    
    box-sizing: border-box;
    text-align: center;
    font: normal normal normal Helvetica;
    letter-spacing: 0px;
    
    opacity: 1;
    
    
    overflow-x: hidden;

}

.opener {
    background-color: #707070;
    color: #eee;
    text-align: center;
  }
  
  .opener::after {
    display: block;
    content: "";
    border-top: 100px solid #707070;
    border-left: 1570px solid transparent;
    background-color: #fff;
  }
  
.wrapper {
    display: grid;
    
    text-align: center;
    font: normal normal bold Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 100%;
}
#titulo1{
    font: normal normal normal 20px Helvetica ;
    margin-top: 69px;
}
#titulo2 {
    font: normal normal bold 40px Helvetica;
}
#titulo3 {
    font: normal normal normal 14px Helvetica;
    margin-top: 24px;
    width: 360px;
    height: 32px;
    margin-left: 38.6%;
}

.paginaemail {
    width: 100%;
    height: 362px;
    
    margin-left: 36.2%;
    margin-bottom: 60px;
    
    margin-top: 17px;
    display:grid;
    grid-template-columns: 14.7% 14.7%;
}
#txttitu {
    
    margin-left: 33.3%;
    float: left;
    text-align: left;
    font: normal normal normal 20px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    width: 102px;
    height: 23px;

}
#txtemail {
    float: left;
    margin-left: 33.3%;
    line-height: 1.5;
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    width: 563px;
    height: 60px;
}

.titu {
    text-align: left;
    font: normal normal normal 14px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;  
    margin-top: 14px;
    width: 160px;
    height: 20px;
    
    
}
.descr {
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0.2px;
    color: #888888;
    opacity: 1; 
    margin-top: 10px;
    width: 200px;
    height: 60px;
    
    
}
.old {
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;  
    
    width: 66px;
    height: 14px;
    
    
}
.price {
    text-align: left;
    font: normal normal bold 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;   
    margin-top: 6px;
    width: 96px;
    height: 19px;
    
    
}

.photo {
    width: 200px;
    height: 360px;
    
    
}
#novo {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 200px;
    height: 150px;
}
.parcelado {
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1; 
    width: 100px;
    height: 14px;
    margin-top: 7px;
    
}
#btnComprar {
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    
    font: normal normal normal 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    
}

.btnemail {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    width: 260px;
    height: 39px;
    
    
    font: normal normal normal 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

.footer {
    background-color: #707070;
    color: #eee;
    text-align: center;
    height: 292px;
    margin-top: 81px;
    
  }
  
.footer::after {
    
    
    display: block;
    content: "";
    border-bottom: 100px solid #707070;
    border-left: 1580px solid transparent;

    background-color: #fff;
  }

.txtfinal {
    
    float: left;
    margin-left: 41%;
    margin-top: 160px;
    text-align: center;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    line-height: 1.8;
    color: #FFFFFF;
    opacity: 1;
    width: 280px;
    height: 90px;
  }
  .divfinal {
      display: flex;
      
  }