*{
    
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    font: normal normal normal Helvetica;
    letter-spacing: 0px;
    
    opacity: 1;
    
    
    overflow-x: hidden;

}


.opener {
    background-color: #707070;
    color: #eee;
    text-align: center;
  }
  
  .opener::after {
    display: block;
    content: "";
    border-top: 100px solid #707070;
    border-left: 1570px solid transparent;
    background-color: #fff;
  }
  




.wrapper {
    display: grid;
    
    text-align: center;
    font: normal normal bold Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 100%;
}
#titulo1{
    font: normal normal normal 20px Helvetica ;
    margin-top: 69px;
}
#titulo2 {
    font: normal normal bold 40px Helvetica;
}
#titulo3 {
    font: normal normal normal 14px Helvetica;
    margin-top: 24px;
}

.btnheader {
    display: flex;
    min-width: none;
    margin-top: 50px;
    margin-left: 26%;
    flex-wrap:wrap;
    
    
    
    
}
#btnheader{
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    font-size: 14px;
    margin-right: 40px;
    text-align: center;
    font: normal normal normal 14px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    
}
.center{
    display: flex;
    flex-wrap: wrap;
    
}
.frame1 {
    display: flex;
    flex-direction: column;
    
    margin-left: 21%;
    flex-wrap: wrap;
    
    
}

#titulo {
    
    width: 600px;
    height: 23px;
    text-align: left;
    font: normal normal normal 20px Helvetica ;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    
    margin-bottom: 30px;
    
}
#texto {
    
    width: 520px;
    height: 220px;
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    flex-wrap: wrap;
    line-height: 1.5;
    margin-right: 60px;
    
}

.formulario{
    text-align: left;
    flex-wrap: wrap;
    
    width: 340px;
    
    
    
}
#input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 340px;
    height: 30px;
    margin-bottom: 13px;
    text-align: left;
}
#label {
    margin-bottom: 7px;
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;

}
.radio {
    display: flex;
    margin-top: 7px;
    
}    
#lmasc {
    margin-left: 5px;
    margin-right: 40px;
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
#lfem {
    margin-left: 5px;
    text-align: left;
    font: normal normal normal 12px Helvetica ;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}

#btnenviar {
    margin-top: 23px;
    
    width: 345px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    
}
.field {
    align-items:unset;
    display: flex;
    margin-left: 2.5%;
}
.field #field1 {
    
    margin-top: 91px;
    width:359px;
    height: 1px;
    margin-left: 19%;
    border: 1px solid #707070;
    opacity: 1;
    
    
}
.field #field2 {
    margin-top: 91px;
    width:345px;
    height: 1px;
    
    border: 1px solid #707070;
    border-color: #707070;
    opacity: 1;
    
    
}
.field #txtprodutos{
    margin-top: 83px;
    margin-left: 17px;
    margin-right: 17px;
    
    width: 181px;
    height: 22px;
    text-align: left;
    font: normal normal bold 18px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
      
}
.container {
    width: 61%;
    height: 790px;
    margin-left: 21%;
    
    
    margin-top: 50px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
    
}
.container2 {
    width: 61%;
    height: 790px;
    margin-left: 21%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}

.div2 {
    display: none
    
    
}

    
  
    

.titu {
    text-align: left;
    font: normal normal normal 14px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;  
    margin-top: 14px;
    width: 115px;
    height: 16px;
    
    
}
.descr {
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0.2px;
    color: #888888;
    opacity: 1; 
    margin-top: 10px;
    width: 200px;
    height: 60px;
    
    
}
.old {
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;  
    
    width: 66px;
    height: 14px;
    
    
}
.price {
    text-align: left;
    font: normal normal bold 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;   
    margin-top: 6px;
    width: 96px;
    height: 19px;
    
    
}


.photo {
    width: 200px;
    height: 360px;
    
    
}
#novo {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 200px;
    height: 150px;
}
.parcelado {
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1; 
    width: 100px;
    height: 14px;
    margin-top: 7px;
    
}
#btnComprar {
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    
    font: normal normal normal 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    
}
.titu2 {
    text-align: left;
    font: normal normal normal 14px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;  
    margin-top: 14px;
    width: 140px;
    height: 16px;
    
    
}
.descr2 {
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0.2px;
    color: #888888;
    opacity: 1; 
    margin-top: 10px;
    width: 200px;
    height: 60px;
    
    
}
.old2 {
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;  
    
    width: 66px;
    height: 14px;
    
    
}
.price2 {
    text-align: left;
    font: normal normal bold 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;   
    margin-top: 6px;
    width: 96px;
    height: 19px;
    
    
}


.photo2 {
    width: 200px;
    height: 360px;
    
    
}
#novo2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 200px;
    height: 150px;
}
.parcelado2 {
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1; 
    width: 100px;
    height: 14px;
    margin-top: 7px;
    
}
#btnComprar2 {
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    width: 200px;
    height: 30px;
    margin-top: 10px;
    
    font: normal normal normal 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    
}
.btnmais {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    width: 260px;
    height: 39px;
    
    
    font: normal normal normal 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}


.field #field3 {
    
    margin-top: 138px;
    width:358px;
    height: 1px;
    margin-left: 19%;
    border: 1px solid #707070;
    opacity: 1;
    
    
}
.field #field4 {
    margin-top: 138px;
    width:345px;
    height: 1px;
    margin-left: 5px;
    border: 1px solid #707070;
    border-color: #707070;
    opacity: 1;
    
    
}
.field #txtprodutos2{
    margin-top: 128px;
    margin-left: 5px;
    
    width: 210px;
    height: 22px;
    text-align: left;
    font: normal normal bold 18px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    justify-self: unset;
    margin-bottom: 44px;

    
}
.news {
    display: flex;
    
    
}

.textonews {
    
    
    text-align: center;
    font: normal normal normal 14px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    width: 550px;
    height: 20px;
    margin-left: 33%;
    margin-bottom: 39px;
}
.newslabel {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    
    margin-left: 28%;
    flex-wrap: wrap;
    
    

}
.newsinput {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
    
    
}
.inputamigo{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 340px;
    height: 30px;
    text-align:left;
    flex-wrap: wrap;
    display:flex;
    

}
.inputemail{
    display:flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 340px;
    height: 30px;
    text-align:left;
    flex-wrap: wrap;

}



.labelamigo{
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin-bottom: 7px;
}
.labelemail{
    text-align: left;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    margin-bottom: 7px;
}
.btnenviar2 {
    margin-top: 50px;
    margin-left: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    width: 260px;
    height: 39px;
    text-align: center;
    font: normal normal normal 16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
.footer {
    background-color: #707070;
    color: #eee;
    text-align: center;
    height: 292px;
    margin-top: 81px;
    
  }
  
.footer::after {
    
    
    display: block;
    content: "";
    border-bottom: 100px solid #707070;
    border-left: 1580px solid transparent;

    background-color: #fff;
  }

.txtfinal {
    
    float: left;
    margin-left: 42.5%;
    margin-top: 160px;
    text-align: center;
    font: normal normal normal 12px Helvetica;
    letter-spacing: 0px;
    line-height: 1.8;
    color: #FFFFFF;
    opacity: 1;
    width: 280px;
    height: 90px;
  }
  .divfinal {
      display: flex;
      
  }
.newsinput span.error {
    display: flex;
    padding: 0;
    background-color: red;
}



@media (max-width: 1324px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        height:1200px
    }
    .container2 {
        grid-template-columns: 1fr 1fr 1fr;
        height:1200px
    }
      
}

@media (max-width: 1188px) {
    .formulario {
        margin-left: 15.4rem;
        margin-top: 30px;
        
    }
    .field #field1 {
        width:230px;
        height: 1px;
        margin-left: 13.6rem;
          
    }
    .field #field2 {
        width:230px;
        height: 1px;
        margin-left: 0px;
      
    }
    .field #field3 {
        width:230px;
        height: 1px;
        margin-left: 215px;
          
    }
    .field #field4 {
        width:230px;
        height: 1px;
        margin-left: 0px;
      
    }
    .textonews {
        margin-left: 310px;
    }
    .divfinal{
        margin-left: 0px;
    }
    .newslabel{
        margin-left: 240px;
        margin-right: 5px;
    }
    
    
      
}
@media (max-width: 1099px) {
    #btnheader{
        margin-right: 21px;
        margin-bottom: 20px;
    }
}
@media (max-width: 1001px) {
    .container {
        grid-template-columns: 1fr 1fr;
        height:1600px
    }
    .container2 {
        grid-template-columns: 1fr 1fr;
        height:1600px
    }
    .field #field1 {
        width:140px;
        height: 1px;
        margin-left: 19%;
          
    }
    .field #field2 {
        width:140px;
        height: 1px;
        margin-left: 0px;
    }
    .field #field3 {
        width:140px;
        height: 1px;
        margin-left: 19%;
          
    }
    .field #field4 {
        width:140px;
        height: 1px;
        margin-left: 0px;
    }
    .textonews {
        margin-left: 183px;
    }
    .btnmais {
        margin-left: -65px
    }
    .newslabel{
        margin-left: 115px;
        margin-right: 5px;
    }
    .btnenviar2 {
        margin-left: -65px;
    }
    .txtfinal {
        margin-left: 310px;
    }
    
}
@media (max-width: 827px) {
    #btnheader{
        margin-right: 21px;
        margin-bottom: 20px;
    }
}
@media (max-width: 734px) {
    .btnmais {
        margin-left: 20px
    }
    .textonews {
        margin-left: 17%;
    }
    .btnenviar2 {
        margin-left: 115px;
    }
    
}
@media (max-width: 672px) {
    
    #btnheader{
        margin-right: 21px;
        margin-bottom: 20px;
    }
    .btnheader {
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 38px;
        
    }
    .frame1 {
        margin-left: 17px;
    }
    #titulo {
        width: 340px;
    }
    #texto {
        width:440px;
        height: 220px;
    }
    .formulario {
        margin-left: 17px;
        
    }
    .field {
        align-items:unset;
        display: flex;
        margin-left: 0px;
    }
    .field #field1 {
        margin-left: 0px;
        margin-top: 91px;
        width:103px;
        height: 1px;
    }
    .field #field2 {
        margin-top: 91px;
        width:102px;
        height: 1px;
    }
    .field #txtprodutos{
        margin-top: 83px;
        margin-left: 17px;
        margin-right: 17px;
        font-size: 18px;
        width: 203px;
        height: 22px;   
    }
    .field #field3 {
        width:103px;
        height: 1px;
        margin-left: 0px;
          
    }
    .field #field4 {
        width:102px;
        height: 1px;
        margin-left: 0px;
      
    }
    .field #txtprodutos2{
        margin-right: 5px;
        margin-left: 4px;
        font-size: 18px;
        width: 228px;
        height: 22px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 410px;
        height:1290px;
        margin-left: 10px;
         
    }
    .photo {
        width: 410px;
        margin-right: 0px;
        margin-left: 0px;
        height: 134px;
 
    }  
    #novo {
        width: 169px;
        height: 129px;
        margin-right: 23px;
        float: left;
        
    }
    .titu {
        margin-top: 0px;
        margin-bottom: 13px;
        
    }
    .descr {
        display:none;
    }
    
    .btncomprar {
        margin-left: 0px;
        width: 200px;
    }
    .container2 {
        display: grid;grid-template-columns: 1fr;
        width: 410px;
        height:1290px;
        margin-left: 10px;
         
    }
    .photo2 {
        width: 410px;
        margin-right: 0px;
        margin-left: 0px;
        height: 134px;
 
    }  
    #novo2 {
        width: 169px;
        height: 129px;
        margin-right: 23px;
        float: left;

    }
    .titu2 {
        margin-top: 0px;
        margin-bottom: 13px;
    
    }
    .descr2 {
        display:none;
    }
    
    .btncomprar2 {
        margin-left: 0px;
        width: 200px;
    }
    .btnmais {
        margin-top: 20px;
    }
    
    .textonews {
        text-align: center;
        font: normal normal normal 14px Helvetica;
        letter-spacing: 0px;
        color: #888888;
        opacity: 1;
        width: 400px;
        height: 32px;
        margin-left: 17px;
        
    }
    .divfinal {
        display: grid;
    }
    .newslabel {
        margin-right: 0px;  
        margin-left: 9px;
        
    }
    .newsinput {

        margin-left: 9px; 
    }
    .inputamigo{
        
        width: 391px;
        height: 30px;
        text-align:left;
    }
    .inputemail{
        
        width: 391px;
        height: 30px;
        text-align:left;
    }
    
    .labelamigo{
        text-align: left;
        
    }
    .labelemail{
        text-align: left;
        margin-top: 20px;
        
    }
    .btnenviar2 {
        margin-left: -20%
    }
    
    .txtfinal {
        margin-left: 20%;
        width: 260px;
    }

}
      

@media (max-width: 586px) {

    .field #field1 {
        width:103px;
        height: 1px;  
    }
    .field #field2 {
        width:102px;
        height: 1px;  
    }  
}
@media (max-width: 420px) {


    #btnheader{
        margin-right: 21px;
        margin-bottom: 20px;
    }
    .btnheader {
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 38px;
    }
    .frame1 {
        margin-left: 17px;
    }
    #titulo {
        width: 600px;
        
    }
    #texto {
        width:386px;
        height: 220px;
    }
    .formulario {
        margin-left: 17px;
        
    }
    .field {
        align-items:unset;
        display: flex;
        margin-left: 0px;
    }
    .field #field1 {
        margin-left: 0px;
        margin-top: 91px;
        width:103px;
        height: 1px;
    }
    .field #field2 {
        margin-top: 91px;
        width:102px;
        height: 1px;
    }
    .field #txtprodutos{
        margin-top: 83px;
        margin-left: 17px;
        margin-right: 17px;
        font-size: 18px;
        width: 203px;
        height: 22px;   
    }
    .field #field3 {
        width:103px;
        height: 1px;
        margin-left: 0px;
          
    }
    .field #field4 {
        width:102px;
        height: 1px;
        margin-left: 0px;
      
    }
    .field #txtprodutos2{
        margin-right: 5px;
        margin-left: 4px;
        font-size: 18px;
        width: 228px;
        height: 22px;
    }
    .container {
        width: 410px;
        height:1290px;
        margin-left: 10px;
         
    }
    .photo {
        width: 410px;
        margin-right: 0px;
        margin-left: 0px;
        height: 134px;
 
    }  
    #novo {
        width: 169px;
        height: 129px;
        margin-right: 23px;
        float: left;
        
    }
    .titu {
        margin-top: 0px;
        margin-bottom: 13px;
        
    }
    .descr {
        display:none;
    }
    
    .btncomprar {
        margin-left: 0px;
        width: 200px;
    }
    .container2 {
        width: 410px;
        height:1290px;
        margin-left: 10px;
         
    }
    .photo2 {
        width: 410px;
        margin-right: 0px;
        margin-left: 0px;
        height: 134px;
 
    }  
    #novo2 {
        width: 169px;
        height: 129px;
        margin-right: 23px;
        float: left;

    }
    .titu2 {
        margin-top: 0px;
        margin-bottom: 13px;
    
    }
    .descr2 {
        display:none;
    }
    
    .btncomprar2 {
        margin-left: 0px;
        width: 200px;
    }
    .textonews {
        text-align: center;
        font: normal normal normal 14px Helvetica;
        letter-spacing: 0px;
        color: #888888;
        opacity: 1;
        width: 400px;
        height: 32px;
        margin-left: 17px;
        
    }
    .divfinal {
        display: grid;
    }
    .newslabel {
        margin-right: 0px;  
        margin-left: 9px;
        
    }
    .newsinput {

        margin-left: 9px; 
    }
    .inputamigo{
        
        width: 391px;
        height: 30px;
        text-align:left;
    }
    .inputemail{
        
        width: 391px;
        height: 30px;
        text-align:left;
    }
    
    .labelamigo{
        text-align: left;
        
    }
    .labelemail{
        text-align: left;
        margin-top: 20px;
        
    }
    .btnenviar2 {
        margin-left: 0px;
    }
    
    .txtfinal {
        
        width: 260px;
    }

}
@media (max-width: 365px) {
    #titulo {
        font-size: 18px;
    }
}